{
  "openapi": "3.1.0",
  "info": {
    "title": "Arcmira API",
    "version": "1.0.0",
    "contact": {
      "name": "Arcmira",
      "url": "https://arcmira.com"
    }
  },
  "servers": [
    {
      "url": "https://api.arcmira.com"
    }
  ],
  "components": {
    "headers": {
      "X-Request-Id": {
        "description": "The request id, echoed from an X-Request-Id request header or minted as req_<uuid>. error.request_id carries the same value. Quote it when reporting a problem.",
        "schema": {
          "type": "string"
        }
      },
      "X-Arcmira-Version": {
        "description": "The API version that answered. Always v1.",
        "schema": {
          "type": "string",
          "enum": [
            "v1"
          ]
        }
      },
      "RateLimit-Limit": {
        "description": "Requests allowed per 60-second window for this credential, as GET /v1/me rate_limit reports.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimit-Remaining": {
        "description": "Requests left in the current window.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimit-Reset": {
        "description": "Unix time in seconds when the current window ends.",
        "schema": {
          "type": "integer"
        }
      },
      "Retry-After": {
        "description": "Seconds to wait before retrying. error.retry_after_seconds carries the same value on an error.",
        "schema": {
          "type": "integer"
        }
      },
      "Idempotency-Replayed": {
        "description": "true when this is the stored response to an earlier request with the same Idempotency-Key; the request did not run again.",
        "schema": {
          "type": "string",
          "enum": [
            "true"
          ]
        }
      }
    },
    "responses": {
      "InvalidRequest": {
        "description": "Invalid request",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          },
          "X-Arcmira-Version": {
            "$ref": "#/components/headers/X-Arcmira-Version"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "AuthenticationError": {
        "description": "Authentication error",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          },
          "X-Arcmira-Version": {
            "$ref": "#/components/headers/X-Arcmira-Version"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "QuotaExceeded": {
        "description": "Quota exceeded",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          },
          "X-Arcmira-Version": {
            "$ref": "#/components/headers/X-Arcmira-Version"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PermissionError": {
        "description": "Permission error",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          },
          "X-Arcmira-Version": {
            "$ref": "#/components/headers/X-Arcmira-Version"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          },
          "X-Arcmira-Version": {
            "$ref": "#/components/headers/X-Arcmira-Version"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded. Retry-After carries the wait.",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          },
          "X-Arcmira-Version": {
            "$ref": "#/components/headers/X-Arcmira-Version"
          },
          "RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimit-Limit"
          },
          "RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimit-Remaining"
          },
          "RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimit-Reset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/Retry-After"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServerError": {
        "description": "Server error",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          },
          "X-Arcmira-Version": {
            "$ref": "#/components/headers/X-Arcmira-Version"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "arc_sk_*"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "quote": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TranscriptQuote"
              },
              {
                "type": "object",
                "properties": {
                  "charge": {
                    "type": "object",
                    "properties": {
                      "unit": {
                        "type": "string",
                        "enum": [
                          "rows",
                          "credits"
                        ]
                      },
                      "amount": {
                        "type": "number"
                      },
                      "from": {
                        "type": "string",
                        "enum": [
                          "included",
                          "on_demand",
                          "mixed"
                        ],
                        "description": "Where the charge would come from at the current balance."
                      }
                    },
                    "required": [
                      "unit",
                      "amount",
                      "from"
                    ],
                    "description": "What the purchase would charge at the current balance. Absent when no current price could be read."
                  },
                  "max_on_demand_cents": {
                    "type": "integer",
                    "description": "The money ceiling the current quote needs, in whole cents. Send at least this as max_on_demand_cents with a new intent."
                  }
                }
              }
            ],
            "description": "The refused price, on a priced refusal: quota_exceeded, max_rows_exceeded, max_charge_exceeded, spend_limit_exceeded, purchase_authority_changed and paid_plan_required."
          },
          "existing_request_id": {
            "type": "string",
            "description": "On max_charge_exceeded: the accepted purchase for this video that holds a higher money ceiling. Poll it at /v1/transcriptions/{id} instead of starting another."
          },
          "existingId": {
            "type": "string",
            "description": "On tracker_already_exists, the existing tracker id. Reuse it instead of creating another tracker."
          },
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "invalid_request_error",
                  "authentication_error",
                  "permission_error",
                  "quota_exceeded",
                  "rate_limit_error",
                  "not_found",
                  "conflict_error",
                  "server_error"
                ],
                "description": "The error class. It fixes the HTTP status: invalid_request_error 400, authentication_error 401, quota_exceeded 402, permission_error 403, not_found 404, conflict_error 409, rate_limit_error 429, server_error 500. Switch on it for retry and gate handling."
              },
              "code": {
                "type": "string",
                "description": "The specific condition, stable and snake_case; doc_url anchors on it. x-arcmira-codes on this schema lists every code with its type, gate and meaning. The list is open: new codes may appear inside an existing type, so switch on type and gate first."
              },
              "reason": {
                "type": "string",
                "enum": [
                  "no_credential",
                  "invalid",
                  "revoked"
                ],
                "description": "Only on invalid_api_key. no_credential: nothing was sent. invalid: a credential was sent and is unknown or malformed. revoked: the key exists and is no longer usable."
              },
              "message": {
                "type": "string",
                "description": "One plain line. Names the fix or the unlock."
              },
              "param": {
                "type": "string",
                "description": "The query or body parameter the gate refused, when one did."
              },
              "gate": {
                "type": "string",
                "enum": [
                  "rows",
                  "key",
                  "plan",
                  "freshness",
                  "exposure_law",
                  "rate",
                  "pagination"
                ],
                "description": "Which boundary refused. Present on every gate error; switch on it without parsing the message."
              },
              "resource": {
                "$ref": "#/components/schemas/ErrorResource"
              },
              "unlock": {
                "type": "object",
                "properties": {
                  "tier": {
                    "type": "string",
                    "description": "The plan that lifts the gate."
                  },
                  "url": {
                    "type": "string",
                    "description": "Absolute upgrade or sign-up URL carrying its ?src= attribution. Use it verbatim."
                  },
                  "offer": {
                    "type": "null",
                    "description": "Reserved for the agent-discount offer. Always null today."
                  },
                  "action": {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "description": "What the call does. send_signup_code sends a verification code to an address for an account key."
                      },
                      "method": {
                        "type": "string",
                        "description": "HTTP method to use."
                      },
                      "url": {
                        "type": "string",
                        "description": "Absolute endpoint carrying its ?src= attribution. Call it verbatim."
                      }
                    },
                    "required": [
                      "kind",
                      "method",
                      "url"
                    ],
                    "description": "The request that lifts the gate with no human, present when the caller can fix this itself. A key gate carries the signup send here; a plan or quota gate has no action and its url is a page a person opens."
                  }
                },
                "required": [
                  "tier",
                  "url",
                  "offer"
                ],
                "description": "How to lift the gate. Present when the gate has an unlock."
              },
              "retry_after_seconds": {
                "type": "integer",
                "description": "Present on rate gates. Mirrors the Retry-After header."
              },
              "current_revision": {
                "type": "string",
                "description": "On revision_mismatch and anchor_mismatch, the transcript revision to re-read before re-anchoring the correction."
              },
              "expected_seq": {
                "type": "integer",
                "description": "On sequence_mismatch (HTTP 412), the seq the server expects next for this video. Rebase local counters onto it and resend under the same key."
              },
              "doc_url": {
                "type": "string"
              },
              "request_id": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "code",
              "message",
              "doc_url",
              "request_id"
            ]
          }
        },
        "required": [
          "error"
        ],
        "x-arcmira-codes": [
          {
            "code": "alert_not_found",
            "type": "not_found",
            "description": "A referenced alert row does not exist or belongs to another account."
          },
          {
            "code": "anchor_mismatch",
            "type": "conflict_error",
            "description": "The anchored lines no longer hash to anchor.contentHash. current_revision is the revision to re-read; send a re-anchored correction under a new key."
          },
          {
            "code": "api_not_enabled",
            "type": "permission_error",
            "gate": "plan",
            "description": "The plan does not include API access. unlock.url names the plan that does."
          },
          {
            "code": "appearances_person_only",
            "type": "invalid_request_error",
            "description": "Appearance filtering applies to person entities only."
          },
          {
            "code": "channel_not_found",
            "type": "not_found",
            "description": "No channel matches the id or slug."
          },
          {
            "code": "email_verification_required",
            "type": "permission_error",
            "description": "Verify the account email before adding recipients."
          },
          {
            "code": "entity_not_found",
            "type": "not_found",
            "description": "No entity matches the id, slug, or name."
          },
          {
            "code": "feature_not_available",
            "type": "permission_error",
            "gate": "plan",
            "description": "The plan does not include this feature. unlock.url names the plan that does."
          },
          {
            "code": "feedback_not_found",
            "type": "not_found",
            "description": "No feedback submission with this id for this account."
          },
          {
            "code": "filter_requires_paid",
            "type": "permission_error",
            "gate": "plan",
            "description": "The parameter in param needs a paid plan; omit it for the free answer."
          },
          {
            "code": "forbidden",
            "type": "permission_error",
            "description": "The entity page list refused the request."
          },
          {
            "code": "freshness_requires_paid",
            "type": "permission_error",
            "gate": "freshness",
            "description": "The date window is newer than the plan serves; move it before the cutoff or upgrade."
          },
          {
            "code": "id_required",
            "type": "invalid_request_error",
            "description": "A filter in param received a name where it takes an id (ent_{n} or UC...). Resolve the name first with GET /v1/entities/resolve and pass best.id or best.youtube_channel_id."
          },
          {
            "code": "idempotency_conflict",
            "type": "conflict_error",
            "description": "The Idempotency-Key was sent before with a different request body. Send a new key for a new request."
          },
          {
            "code": "idempotency_result_expired",
            "type": "conflict_error",
            "description": "The original one-time signing secret is no longer valid. Use a new request key for a new rotation."
          },
          {
            "code": "insufficient_scope",
            "type": "permission_error",
            "gate": "key",
            "description": "The key lacks the scope this route needs."
          },
          {
            "code": "internal_error",
            "type": "server_error",
            "description": "The entity page list failed. Retry with backoff."
          },
          {
            "code": "invalid_api_key",
            "type": "authentication_error",
            "gate": "key",
            "description": "No usable credential. reason says whether none was sent, it is unknown, or it was revoked."
          },
          {
            "code": "invalid_body",
            "type": "invalid_request_error",
            "description": "The JSON body failed validation; message names the field."
          },
          {
            "code": "invalid_cursor",
            "type": "invalid_request_error",
            "description": "The continuation is invalid, expired, or belongs to another query. Restart without cursor."
          },
          {
            "code": "invalid_email_recipients",
            "type": "invalid_request_error",
            "description": "Email recipients failed validation."
          },
          {
            "code": "invalid_feedback_request",
            "type": "invalid_request_error",
            "description": "The feedback query or corrections do not fit the feedback type."
          },
          {
            "code": "invalid_idempotency_key",
            "type": "invalid_request_error",
            "description": "Idempotency-Key must be 1 to 255 printable ASCII characters (0x21 to 0x7E). param is Idempotency-Key."
          },
          {
            "code": "invalid_query",
            "type": "invalid_request_error",
            "description": "A query parameter failed validation; message names it."
          },
          {
            "code": "invalid_slack_integration",
            "type": "invalid_request_error",
            "description": "Choose an active Slack integration owned by the account."
          },
          {
            "code": "invalid_video_id",
            "type": "invalid_request_error",
            "description": "The video_id path segment is not an 11-character YouTube id."
          },
          {
            "code": "job_requires_account",
            "type": "authentication_error",
            "gate": "key",
            "description": "Transcription jobs belong to an account; sign up for a key."
          },
          {
            "code": "list_unavailable",
            "type": "server_error",
            "description": "The entity page list failed with a status other than 400, 403, 404 or 500. Retry with backoff."
          },
          {
            "code": "max_charge_exceeded",
            "type": "conflict_error",
            "description": "The whole-video price or on-demand charge exceeds the caller-approved ceiling. Missing max_on_demand_cents authorizes zero monetary overage."
          },
          {
            "code": "max_rows_exceeded",
            "type": "conflict_error",
            "description": "The current whole-video quote exceeds the maximum authorized rows. Review the quote before submitting a new intent."
          },
          {
            "code": "method_not_allowed",
            "type": "invalid_request_error",
            "description": "The route accepts another HTTP method."
          },
          {
            "code": "monitor_creation_unavailable",
            "type": "server_error",
            "description": "Monitor creation is temporarily unavailable. Retry the same request with the same key."
          },
          {
            "code": "monitor_creation_unconfirmed",
            "type": "server_error",
            "description": "Monitor creation could not be confirmed. Retry the same request with the same key."
          },
          {
            "code": "monitor_not_found",
            "type": "not_found",
            "description": "No monitor with this id on the account."
          },
          {
            "code": "not_found",
            "type": "not_found",
            "description": "No route or resource at this path."
          },
          {
            "code": "pagination_gated",
            "type": "permission_error",
            "gate": "pagination",
            "description": "Rows past the free window need a paid plan."
          },
          {
            "code": "paid_plan_required",
            "type": "permission_error",
            "description": "The operation needs a paid plan. unlock.url names the plan that does."
          },
          {
            "code": "premium_transcript_requested",
            "type": "permission_error",
            "gate": "exposure_law",
            "description": "Premium transcript text needs a plan with Premium transcripts."
          },
          {
            "code": "purchase_authority_changed",
            "type": "conflict_error",
            "description": "The account billing authority (plan, team, or on-demand controls) changed after the intent was accepted. Nothing was charged. Review the quote and send a new intent."
          },
          {
            "code": "quota_exceeded",
            "type": "quota_exceeded",
            "gate": "rows",
            "description": "The row pool is spent. unlock.url upgrades or raises the limit."
          },
          {
            "code": "rate_limited",
            "type": "rate_limit_error",
            "gate": "rate",
            "description": "Too many requests in the window. Retry-After carries the wait."
          },
          {
            "code": "recipient_upgrade_required",
            "type": "permission_error",
            "description": "The requested email recipient count exceeds the plan allowance."
          },
          {
            "code": "recommendations_not_enabled",
            "type": "permission_error",
            "gate": "plan",
            "description": "Commercial data needs a Pro+ plan."
          },
          {
            "code": "resource_conflict",
            "type": "conflict_error",
            "description": "The operation conflicts with existing resource state."
          },
          {
            "code": "revision_mismatch",
            "type": "conflict_error",
            "description": "The transcript changed after the revision the correction echoed. current_revision is the revision to re-read; send a re-anchored correction under a new key."
          },
          {
            "code": "scope_too_broad",
            "type": "invalid_request_error",
            "description": "The requested exact video scope exceeds the search filename cap; narrow by channel or date."
          },
          {
            "code": "search_unavailable",
            "type": "server_error",
            "description": "Transcript search is unavailable (HTTP 503). Retry-After carries the wait."
          },
          {
            "code": "sequence_mismatch",
            "type": "conflict_error",
            "description": "HTTP 412. The correction seq is not the next one for this video. expected_seq is the next seq; rebase and resend under the same key."
          },
          {
            "code": "server_error",
            "type": "server_error",
            "description": "Unexpected failure. Retry with backoff and quote request_id if it persists."
          },
          {
            "code": "signup_code_invalid",
            "type": "invalid_request_error",
            "description": "The signup code is wrong, expired, or spent; message names the attempts left."
          },
          {
            "code": "signup_send_limited",
            "type": "rate_limit_error",
            "description": "Verification code sends hit a per-address, per-IP, or per-client cap. Retry-After carries the wait."
          },
          {
            "code": "speaker_not_correctable",
            "type": "conflict_error",
            "description": "The speaker shares a voice track or was named in review, so a correction cannot land on their lines alone."
          },
          {
            "code": "spend_limit_exceeded",
            "type": "quota_exceeded",
            "description": "The purchase would take on-demand spending past the account or seat spend limit this period. Nothing was charged. Raise the limit or wait for the next period, then send a new intent."
          },
          {
            "code": "team_key_required",
            "type": "permission_error",
            "description": "The route needs a team-scoped key; personal keys are refused."
          },
          {
            "code": "team_not_found",
            "type": "not_found",
            "description": "The key names a team that no longer exists."
          },
          {
            "code": "tracker_already_exists",
            "type": "conflict_error",
            "description": "The account already tracks this entity. existingId identifies the existing tracker."
          },
          {
            "code": "tracker_not_found",
            "type": "not_found",
            "description": "No tracker with this id on the account."
          },
          {
            "code": "transcript_fetching",
            "type": "server_error",
            "description": "The caption track is being fetched now (HTTP 503). Retry-After carries the wait; nothing was charged."
          },
          {
            "code": "transcript_requires_account",
            "type": "authentication_error",
            "gate": "key",
            "description": "Full transcripts need an account key; unlock.action sends a signup code."
          },
          {
            "code": "transcript_unavailable",
            "type": "not_found",
            "description": "The video has no transcript in the requested lane or language; languages lists what exists."
          },
          {
            "code": "unknown_entity",
            "type": "invalid_request_error",
            "description": "An explicit entity_ids value does not resolve to a searchable entity."
          },
          {
            "code": "webhook_not_configured",
            "type": "conflict_error",
            "description": "The monitor has no webhook to rotate a secret for. Set webhookUrl first."
          }
        ]
      },
      "TranscriptQuote": {
        "type": "object",
        "properties": {
          "quarters": {
            "type": "integer",
            "description": "Number of 15-minute blocks in the video, ceiling'd, minimum 1."
          },
          "rows": {
            "type": "integer",
            "description": "Total unlock cost in rows: 75 rows per 15-minute block."
          }
        },
        "required": [
          "quarters",
          "rows"
        ]
      },
      "ErrorResource": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "media_rows"
                ]
              },
              "beyond_row": {
                "type": "integer"
              }
            },
            "required": [
              "kind",
              "beyond_row"
            ]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "fresh_media"
                ]
              },
              "window_days": {
                "type": "integer"
              },
              "cutoff": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "kind",
              "window_days",
              "cutoff"
            ]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "sidebar_rows"
                ]
              },
              "section": {
                "type": "string",
                "enum": [
                  "topics",
                  "entities"
                ]
              },
              "beyond_row": {
                "type": "integer"
              }
            },
            "required": [
              "kind",
              "section",
              "beyond_row"
            ]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "counts"
                ]
              }
            },
            "required": [
              "kind"
            ]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "chart"
                ]
              }
            },
            "required": [
              "kind"
            ]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "pagination"
                ]
              },
              "param": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "offset",
                  "cursor",
                  null
                ]
              }
            },
            "required": [
              "kind",
              "param"
            ]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "premium_transcript"
                ]
              }
            },
            "required": [
              "kind"
            ]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "filter"
                ]
              },
              "param": {
                "type": "string"
              }
            },
            "required": [
              "kind",
              "param"
            ]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "commercial"
                ]
              },
              "what": {
                "type": "string",
                "enum": [
                  "sponsors",
                  "recommendations",
                  "mention_details",
                  "community_review",
                  "paid_split"
                ]
              }
            },
            "required": [
              "kind",
              "what"
            ]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "feature"
                ]
              },
              "feature": {
                "type": "string",
                "enum": [
                  "api",
                  "export"
                ]
              }
            },
            "required": [
              "kind",
              "feature"
            ]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "rows"
                ]
              },
              "requested": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "remaining": {
                "type": [
                  "integer",
                  "null"
                ]
              }
            },
            "required": [
              "kind",
              "requested",
              "remaining"
            ]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "key"
                ]
              },
              "scope": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "read",
                  "monitors:write",
                  "trackers:write",
                  "recommendations:read",
                  null
                ]
              }
            },
            "required": [
              "kind",
              "scope"
            ]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "requests"
                ]
              }
            },
            "required": [
              "kind"
            ]
          }
        ],
        "description": "The value the boundary withheld, not the reason it refused. kind is a closed vocabulary and the fields beside it are fixed per kind; see https://arcmira.com/docs/errors#resource-kinds."
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ],
            "description": "Always \"ok\" when the API is reachable."
          },
          "version": {
            "type": "string",
            "enum": [
              "v1"
            ],
            "description": "API version."
          },
          "time": {
            "type": "string",
            "description": "Current server time (ISO 8601)."
          }
        },
        "required": [
          "status",
          "version",
          "time"
        ]
      },
      "OpenApiDocument": {
        "type": "object",
        "properties": {
          "openapi": {
            "type": "string",
            "description": "OpenAPI version, 3.1.0."
          },
          "info": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "description": "API title."
              },
              "version": {
                "type": "string",
                "description": "API version."
              },
              "contact": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Contact name."
                  },
                  "url": {
                    "type": "string",
                    "description": "Contact URL."
                  }
                },
                "required": [
                  "name",
                  "url"
                ],
                "description": "Who publishes the API."
              }
            },
            "required": [
              "title",
              "version",
              "contact"
            ],
            "description": "API metadata."
          },
          "servers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Base URL."
                }
              },
              "required": [
                "url"
              ]
            },
            "description": "Base URLs the API is served from."
          },
          "paths": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {}
            },
            "description": "Every operation, keyed by path then HTTP method. An open map: each value is an OpenAPI path item object."
          },
          "components": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {}
            },
            "description": "Shared schemas and security schemes, keyed by component kind then name. An open map of OpenAPI component objects."
          }
        },
        "required": [
          "openapi",
          "info",
          "servers",
          "paths",
          "components"
        ],
        "description": "This OpenAPI 3.1 document, the one you are reading."
      },
      "MeResponse": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Id of the user the API key belongs to."
          },
          "key_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Id of the credential making this request: the account key id, or the OAuth token id. Never a secret. Null on a browser session."
          },
          "key_label": {
            "type": [
              "string",
              "null"
            ],
            "description": "The key name set in the dashboard, or the name of the connected OAuth client. Null when none is known."
          },
          "credential_kind": {
            "type": "string",
            "enum": [
              "account_key",
              "oauth",
              "session"
            ],
            "description": "How the request authenticated: account_key is an arc_sk_ key, oauth is a token from a connected client, session is a signed-in browser."
          },
          "email_masked": {
            "type": [
              "string",
              "null"
            ],
            "description": "The account email with the local part masked after its first character, e.g. z***@example.com. Null when the account has none."
          },
          "period_resets_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO 8601 time the monthly row pool resets: 00:00 UTC on the first of next month. Null on the free plan, whose rows are a lifetime pool."
          },
          "tier": {
            "type": "string",
            "description": "Plan tier, e.g. free, hobby, pro, teams, enterprise."
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Scopes granted to this API key, e.g. read, monitors:write, trackers:write, recommendations:read."
          },
          "rate_limit": {
            "type": "integer",
            "description": "Requests allowed per 60-second window for this key: 600 for enterprise/teams, 240 for other paid tiers, 60 for free, unless a per-key override is set."
          },
          "recommendations_api_enabled": {
            "type": "boolean",
            "description": "True when the plan includes the Recommendations API (commercial intelligence endpoints)."
          },
          "usage": {
            "type": "object",
            "properties": {
              "rows_used": {
                "type": "integer",
                "description": "Premium rows consumed this period."
              },
              "rows_remaining": {
                "type": "integer",
                "description": "Premium rows left this period."
              },
              "monthly_rows": {
                "type": "integer",
                "description": "Total premium rows included per period."
              },
              "current_spend_cents": {
                "type": "integer",
                "description": "On-demand overage spend so far this period, in US cents."
              },
              "credits": {
                "type": "object",
                "properties": {
                  "available": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Credits spendable now: plan, granted, purchased, and on-demand up to its cap. Null when nothing limits it."
                  },
                  "plan": {
                    "type": "object",
                    "properties": {
                      "credits": {
                        "type": [
                          "integer",
                          "null"
                        ],
                        "description": "Plan credits this month. Null when the plan has no limit."
                      },
                      "used": {
                        "type": "integer",
                        "description": "Plan credits spent this month."
                      },
                      "resets_at": {
                        "type": "string",
                        "description": "YYYY-MM-DD, the first day of next month (UTC), when plan credits reset."
                      }
                    },
                    "required": [
                      "credits",
                      "used",
                      "resets_at"
                    ]
                  },
                  "granted": {
                    "type": "integer",
                    "description": "Credits left in granted lots that have not expired."
                  },
                  "purchased": {
                    "type": "integer",
                    "description": "Credits left in purchased top-ups."
                  },
                  "on_demand": {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "description": "True when on-demand credits are on."
                      },
                      "cap_credits": {
                        "type": [
                          "integer",
                          "null"
                        ],
                        "description": "The on-demand cap in credits, at $0.002 a credit. Null when uncapped or off."
                      },
                      "used": {
                        "type": "integer",
                        "description": "On-demand credits spent this month."
                      }
                    },
                    "required": [
                      "enabled",
                      "cap_credits",
                      "used"
                    ]
                  }
                },
                "required": [
                  "available",
                  "plan",
                  "granted",
                  "purchased",
                  "on_demand"
                ],
                "description": "The month in credits (1 credit is $0.001; a row is 4 credits). Present only when the credits ledger decides access."
              },
              "hits": {
                "type": "object",
                "properties": {
                  "used": {
                    "type": "integer",
                    "description": "Monitor alerts delivered this month."
                  },
                  "allowance": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Monitor alerts the plan delivers a month. Null when the plan has no limit."
                  },
                  "resets_at": {
                    "type": "string",
                    "description": "YYYY-MM-DD, the first day of next month (UTC), when the count resets."
                  }
                },
                "required": [
                  "used",
                  "allowance",
                  "resets_at"
                ],
                "description": "Monitor alerts this month. Alerts cost no credits; once the allowance is used, monitors keep matching but deliver nothing until the reset. Present only when the credits ledger decides access."
              }
            },
            "required": [
              "rows_used",
              "rows_remaining",
              "monthly_rows",
              "current_spend_cents"
            ]
          },
          "settings": {
            "$ref": "#/components/schemas/AccountSettings"
          }
        },
        "required": [
          "user_id",
          "key_id",
          "key_label",
          "credential_kind",
          "email_masked",
          "period_resets_at",
          "tier",
          "scopes",
          "rate_limit",
          "recommendations_api_enabled",
          "usage",
          "settings"
        ]
      },
      "AccountSettings": {
        "type": "object",
        "properties": {
          "transcripts": {
            "$ref": "#/components/schemas/TranscriptSettings"
          }
        },
        "required": [
          "transcripts"
        ],
        "description": "Account defaults every key of this account resolves against. Set them with PATCH /v1/me/settings."
      },
      "TranscriptSettings": {
        "type": "object",
        "properties": {
          "quality": {
            "type": "string",
            "enum": [
              "captions",
              "premium"
            ],
            "description": "Default transcript quality. Platform default: captions."
          },
          "language": {
            "type": "string",
            "description": "Default comma-separated caption language priority list, tried in order. Platform default: en."
          },
          "timestamps": {
            "type": "boolean",
            "description": "Default for the timestamps parameter. Platform default: true, which returns lines[]."
          }
        },
        "required": [
          "quality",
          "language",
          "timestamps"
        ],
        "description": "What a transcript request that names no parameter of its own receives."
      },
      "MeSettingsResponse": {
        "type": "object",
        "properties": {
          "settings": {
            "$ref": "#/components/schemas/AccountSettings"
          }
        },
        "required": [
          "settings"
        ]
      },
      "SignupSentResponse": {
        "type": "object",
        "properties": {
          "next": {
            "type": "object",
            "properties": {
              "method": {
                "type": "string",
                "enum": [
                  "POST"
                ],
                "description": "Always POST."
              },
              "url": {
                "type": "string",
                "description": "The verify call, absolute: POST it with { email, code } once the code arrives."
              }
            },
            "required": [
              "method",
              "url"
            ],
            "description": "The call that completes the signup."
          },
          "expires_in": {
            "type": "integer",
            "description": "Seconds the code stays valid, from the moment it was sent."
          }
        },
        "required": [
          "next",
          "expires_in"
        ]
      },
      "SignupVerifiedResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "The arc_sk_ account key. Shown once. Send it as Authorization: Bearer."
          },
          "key_id": {
            "type": "string",
            "description": "The key id. Appears on funnel events and in the dashboard; never a secret."
          },
          "header": {
            "type": "string",
            "description": "The pasteable request header line: Authorization: Bearer arc_sk_..."
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Always [\"read\"]. Create an Admin key in the dashboard for account write access."
          },
          "tier": {
            "type": "string",
            "description": "The plan the account is on: free for a new account, its plan when the address already had one."
          },
          "rows_allotted": {
            "type": "integer",
            "description": "The pool this key draws on: a free account's lifetime credits, a paid plan's monthly rows."
          },
          "next": {
            "type": "string",
            "description": "A curl command for the first call: GET /v1/me with the key."
          },
          "docs_url": {
            "type": "string",
            "description": "Sign-up documentation."
          }
        },
        "required": [
          "key",
          "key_id",
          "header",
          "scopes",
          "tier",
          "rows_allotted",
          "next",
          "docs_url"
        ]
      },
      "SearchResolveResponse": {
        "type": "object",
        "properties": {
          "found": {
            "type": "boolean",
            "description": "True when the query resolved to exactly one entity."
          },
          "entity": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "Raw integer entity id. Use \"ent_{id}\" with the /v1/entities endpoints."
              },
              "name": {
                "type": "string",
                "description": "Canonical entity name."
              },
              "type": {
                "type": "string",
                "description": "Entity type. Values: person (an individual), organization (a company or institution; legacy rows may read company or brand), product (a product or service), topic (a subject or theme), channel (a media source such as a YouTube channel), unknown (type was never classified)."
              }
            },
            "required": [
              "id",
              "name",
              "type"
            ],
            "description": "The resolved entity. Absent when found is false."
          },
          "route": {
            "type": "string",
            "description": "Site-relative route for the entity on arcmira.com. Absent when found is false."
          },
          "fromCache": {
            "type": "boolean",
            "description": "True when the result was served from the 5-minute resolver cache."
          }
        },
        "required": [
          "found"
        ]
      },
      "EntitySearchResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntitySearchResult"
            }
          },
          "query": {
            "type": "string",
            "description": "The q parameter echoed back."
          },
          "has_more": {
            "type": "boolean",
            "description": "True when more rows matched than limit. There is no cursor; narrow q or pass type."
          }
        },
        "required": [
          "data",
          "query",
          "has_more"
        ]
      },
      "EntitySearchResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Public entity id in the form \"ent_{n}\"."
          },
          "numeric_id": {
            "type": "integer",
            "description": "Raw integer database id."
          },
          "name": {
            "type": "string",
            "description": "Entity name."
          },
          "slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL slug. Null when the entity has never been slugged."
          },
          "type": {
            "type": "string",
            "description": "Entity type. Values: person (an individual), organization (a company or institution; legacy rows may read company or brand), product (a product or service), topic (a subject or theme), channel (a media source such as a YouTube channel), unknown (type was never classified)."
          },
          "appearance_count": {
            "type": "integer",
            "default": 0,
            "description": "Number of indexed appearance/mention rows. Results are ordered by this, descending."
          },
          "youtube_channel_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "YouTube channel id for channel entities. Null for every other type."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "One catalog sentence that tells rows with the same name apart, for example \"Common gender-neutral given name or nickname\". Null when the catalog has none."
          },
          "page": {
            "type": [
              "string",
              "null"
            ],
            "description": "The entity's page on arcmira.com, absolute. Link the name to it when you write the entity into an answer. Null for a type the site has no page for."
          },
          "suggested": {
            "type": "boolean",
            "description": "True on an exact match with far more traction than any other row of its type, or on the one row a UC id, @handle, or YouTube URL resolves to. Use it without asking."
          },
          "recommendations_summary": {
            "type": "object",
            "properties": {
              "total_ad_reads": {
                "type": "integer",
                "description": "Total ad_read rows for this entity. 0 when none."
              },
              "total_endorsements": {
                "type": "integer",
                "description": "Total endorsement rows for this entity. 0 when none."
              },
              "unique_channels": {
                "type": "integer",
                "description": "Number of distinct channels with commercial mentions of this entity."
              }
            },
            "required": [
              "total_ad_reads",
              "total_endorsements",
              "unique_channels"
            ],
            "description": "Only present when the caller has Recommendations API access (a Pro+ plan) and a brand profile exists for the entity."
          }
        },
        "required": [
          "id",
          "numeric_id",
          "name",
          "slug",
          "type",
          "youtube_channel_id",
          "description",
          "page",
          "suggested"
        ]
      },
      "EntityResolveResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "description": "The q parameter echoed back."
          },
          "context": {
            "type": [
              "string",
              "null"
            ],
            "description": "The context parameter echoed back."
          },
          "confidence": {
            "type": "string",
            "enum": [
              "exact",
              "single_fuzzy",
              "ambiguous",
              "fuzzy",
              "none"
            ],
            "description": "exact: one row is named q (or the handle, id or alias), and no better-known person carries the name. single_fuzzy: the only row returned, not an exact name. ambiguous: several exact rows, or an exact row next to a better-known person sharing the name (Jordan the brand vs Michael Jordan). fuzzy: only loose matches. none: no row."
          },
          "best": {
            "$ref": "#/components/schemas/ResolveCandidate"
          },
          "suggested": {
            "$ref": "#/components/schemas/ResolveSuggestion"
          },
          "ask": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "question": {
                "type": "string"
              },
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string",
                      "description": "One line to show the user: name, type, description, appearance count."
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "type",
                    "label"
                  ]
                }
              }
            },
            "required": [
              "question",
              "options"
            ],
            "description": "Set when best and suggested are both null and several rows fit: show the options to the user, or check every option id against the data and answer per row."
          },
          "candidates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResolveCandidate"
            },
            "description": "Rows considered: exact names first, then initials, whole-word, spelling and substring matches, each by appearance count."
          },
          "note": {
            "type": "string",
            "description": "One steering sentence for the agent reading this."
          }
        },
        "required": [
          "query",
          "context",
          "confidence",
          "best",
          "suggested",
          "ask",
          "candidates",
          "note"
        ],
        "example": {
          "query": "Sam",
          "context": null,
          "confidence": "ambiguous",
          "best": null,
          "suggested": {
            "id": "ent_124463",
            "name": "Sam Altman",
            "slug": "sam-altman",
            "type": "person",
            "appearance_count": 4399,
            "youtube_channel_id": null,
            "description": "CEO of OpenAI and former president of Y Combinator.",
            "page": "https://arcmira.com/person/sam-altman",
            "match": "word",
            "reason": "dominant",
            "evidence": "it has 4,399 appearances, 11x the next match (Sam Dunning, 397)",
            "assumed": true
          },
          "ask": null,
          "candidates": [
            {
              "id": "ent_123696",
              "name": "Sam",
              "slug": "sam",
              "type": "person",
              "appearance_count": 265,
              "youtube_channel_id": null,
              "description": "Common gender-neutral given name or nickname",
              "page": "https://arcmira.com/person/sam",
              "match": "exact"
            }
          ],
          "note": "No row is certain. suggested is Sam Altman (person) because it has 4,399 appearances, 11x the next match (Sam Dunning, 397). Use it and tell the user you assumed it."
        }
      },
      "ResolveCandidate": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Public entity id in the form \"ent_{n}\"."
          },
          "name": {
            "type": "string",
            "description": "Entity name."
          },
          "slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL slug. Null when the entity has never been slugged."
          },
          "type": {
            "type": "string",
            "description": "Entity type. Values: person (an individual), organization (a company or institution; legacy rows may read company or brand), product (a product or service), topic (a subject or theme), channel (a media source such as a YouTube channel), unknown (type was never classified)."
          },
          "appearance_count": {
            "type": "integer",
            "default": 0,
            "description": "Number of indexed appearance/mention rows. Results are ordered by this, descending."
          },
          "youtube_channel_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "YouTube channel id for channel entities. Null for every other type."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "One catalog sentence that tells rows with the same name apart, for example \"Common gender-neutral given name or nickname\". Null when the catalog has none."
          },
          "page": {
            "type": [
              "string",
              "null"
            ],
            "description": "The entity's page on arcmira.com, absolute. Link the name to it when you write the entity into an answer. Null for a type the site has no page for."
          },
          "match": {
            "type": "string",
            "enum": [
              "exact",
              "word",
              "substring",
              "acronym",
              "spelling"
            ],
            "description": "How the row's name relates to q: the whole name, a run of its words (Michael Jordan for Jordan), characters inside a word, the show's initials (My First Million for MFM), or a near spelling."
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "type",
          "youtube_channel_id",
          "description",
          "page",
          "match"
        ],
        "description": "The one row q means. Set on exact and single_fuzzy only. Name it in the answer."
      },
      "ResolveSuggestion": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResolveCandidate"
          },
          {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "reason": {
                "type": "string",
                "enum": [
                  "dominant",
                  "only_word_match",
                  "context",
                  "acronym",
                  "spelling"
                ],
                "description": "Why this row stands out: dominant (10x the appearances of the next match), only_word_match, context (the context parameter points at it), acronym, spelling."
              },
              "evidence": {
                "type": "string",
                "description": "The numbers or words behind the reason, to repeat to the user."
              },
              "assumed": {
                "type": "boolean",
                "enum": [
                  true
                ],
                "description": "Always true: this is an assumption the answer must state."
              }
            },
            "required": [
              "reason",
              "evidence",
              "assumed"
            ]
          }
        ],
        "description": "Set when best is null but one row stands out, with the reason and evidence. Use it and tell the user you assumed it."
      },
      "EntityLookupResponse": {
        "type": "object",
        "properties": {
          "entity": {
            "$ref": "#/components/schemas/Entity"
          }
        },
        "required": [
          "entity"
        ]
      },
      "Entity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Public entity id in the form \"ent_{n}\". Always the canonical entity id."
          },
          "numeric_id": {
            "type": "integer",
            "description": "Raw integer database id of the canonical entity. Prefer the public \"ent_{n}\" id in requests."
          },
          "canonical_id": {
            "type": "string",
            "description": "Public id of the canonical entity. Identical to id."
          },
          "name": {
            "type": "string",
            "description": "Canonical entity name."
          },
          "type": {
            "type": "string",
            "description": "Entity type. Values: person (an individual), organization (a company or institution; legacy rows may read company or brand), product (a product or service), topic (a subject or theme), channel (a media source such as a YouTube channel), unknown (type was never classified)."
          },
          "platform": {
            "type": [
              "string",
              "null"
            ],
            "description": "Source platform for channel entities, e.g. \"youtube\". Null unless the entity is platform-bound."
          },
          "url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Canonical external URL for the entity. Null when none is known."
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Entity image URL. Null until an image has been resolved."
          },
          "image_checked_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "Timestamp of the last image resolution attempt. Null until the image pipeline has visited this entity."
          },
          "appearance_count": {
            "type": "integer",
            "default": 0,
            "description": "Number of indexed appearance/mention rows for this entity. 0 when never counted."
          },
          "owner_entity_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Public id (\"ent_{n}\") of the owning entity, e.g. the organization behind a product. Null unless an ownership link exists."
          },
          "is_canonical": {
            "type": "boolean",
            "description": "True when the id you supplied is the canonical entity. False when your id was merged into this canonical record."
          },
          "merged_from_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Public id you supplied when it differs from the canonical entity, i.e. your id was merged into this record. Null unless a merge redirect happened."
          },
          "slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL slug, the site's canonical id for every type but channel. Null when never slugged."
          },
          "route": {
            "type": [
              "string",
              "null"
            ],
            "description": "Site-relative route of this entity's page on arcmira.com, e.g. \"/org/ramp\", \"/person/jane-doe\", \"/yt/@TBPNLive\". Null for a type the site has no page for."
          },
          "page": {
            "type": [
              "string",
              "null"
            ],
            "description": "The entity's page on arcmira.com, absolute. Link the name to it when you write the entity into an answer. Null for a type the site has no page for."
          },
          "appearances_page": {
            "type": [
              "string",
              "null"
            ],
            "description": "For a person, the list of their appearances on arcmira.com (their page opens on it). Null for every other type."
          },
          "mentions_page": {
            "type": [
              "string",
              "null"
            ],
            "description": "For a person, the list of mentions of them on arcmira.com, page/mentions. Null for every other type: their page is the mentions list already."
          }
        },
        "required": [
          "id",
          "numeric_id",
          "canonical_id",
          "name",
          "type",
          "platform",
          "url",
          "image_url",
          "image_checked_at",
          "owner_entity_id",
          "is_canonical",
          "merged_from_id",
          "slug",
          "route",
          "page",
          "appearances_page",
          "mentions_page"
        ]
      },
      "EntityCardsResponse": {
        "type": "object",
        "properties": {
          "cards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntityCard"
            },
            "description": "One card per requested id that resolved to an entity, in requested order. Unknown ids are silently dropped."
          }
        },
        "required": [
          "cards"
        ]
      },
      "EntityCard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The REQUESTED raw integer entity id (even when it was merged; the card carries the canonical entity's data under the requested id)."
          },
          "name": {
            "type": "string",
            "description": "Canonical entity name."
          },
          "slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL slug. Null when the entity has never been slugged."
          },
          "type": {
            "type": [
              "string",
              "null"
            ],
            "description": "Entity type. Values: person (an individual), organization (a company or institution; legacy rows may read company or brand), product (a product or service), topic (a subject or theme), channel (a media source such as a YouTube channel), unknown (type was never classified)."
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Entity image URL. Null until an image has been resolved."
          },
          "subtitle": {
            "type": "null",
            "description": "Reserved for a future category/role line. Always null today."
          },
          "index_mentions": {
            "type": "integer",
            "description": "Total indexed mention rows for the entity. 0 when none."
          },
          "index_appearances": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Indexed physical-appearance rows. Only populated for person entities; null for every other type."
          },
          "indexed_videos": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Completed videos published by this channel and indexed by Arcmira. Null for other entity types."
          },
          "average_views": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "description": "Mean of known positive view counts for the channel's indexed videos. Null when unavailable or for other types."
          },
          "youtube_channel_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Canonical YouTube channel identifier, when known."
          },
          "youtube_handle": {
            "type": [
              "string",
              "null"
            ],
            "description": "YouTube channel handle, when known."
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "type",
          "image_url",
          "subtitle",
          "index_mentions",
          "index_appearances"
        ]
      },
      "EntityDetailResponse": {
        "type": "object",
        "properties": {
          "entity": {
            "$ref": "#/components/schemas/Entity"
          },
          "recommendations_summary": {
            "$ref": "#/components/schemas/EntityDetailRecommendationsSummary"
          }
        },
        "required": [
          "entity"
        ]
      },
      "EntityDetailRecommendationsSummary": {
        "type": "object",
        "properties": {
          "total_ad_reads": {
            "type": "integer",
            "description": "Total ad_read rows across all channels. 0 when none."
          },
          "total_endorsements": {
            "type": "integer",
            "description": "Total endorsement rows across all channels. 0 when none."
          },
          "unique_shows": {
            "type": "integer",
            "description": "Number of distinct shows/channels with commercial mentions of this entity."
          },
          "first_seen_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "Timestamp of the earliest commercial mention. Null until the brand profile has been computed."
          },
          "last_seen_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "Timestamp of the most recent commercial mention. Null until the brand profile has been computed."
          },
          "channels_as_sponsor": {
            "type": "integer",
            "description": "Number of channels where this entity appears in the curated known-advertisers dataset."
          }
        },
        "required": [
          "total_ad_reads",
          "total_endorsements",
          "unique_shows",
          "first_seen_at",
          "last_seen_at",
          "channels_as_sponsor"
        ],
        "description": "Commercial-intelligence rollup. Only present for organization and product entities when the caller has Recommendations API access (a Pro+ plan) and a brand profile exists."
      },
      "MentionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Mention"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True when more rows exist past this page."
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor for the next page. Null on the last page."
          },
          "entity": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Entity"
              },
              {
                "description": "The resolved entity the mentions belong to."
              }
            ]
          },
          "note": {
            "type": "string",
            "description": "Present on a free preview page: where the list stops and the plan that lifts it. Say so rather than calling this every mention."
          },
          "unlock": {
            "type": "object",
            "properties": {
              "tier": {
                "type": "string",
                "description": "The plan that lifts the preview."
              },
              "url": {
                "type": "string",
                "description": "Where to start that plan."
              }
            },
            "required": [
              "tier",
              "url"
            ],
            "description": "Present with note on a free preview page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor",
          "entity"
        ]
      },
      "Mention": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Public mention id in the form \"men_{n}\"."
          },
          "appearance_id": {
            "type": "integer",
            "description": "Raw integer id of the underlying appearance row. Same number as in the \"men_{n}\" public id."
          },
          "entity": {
            "$ref": "#/components/schemas/EntityRef"
          },
          "media": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "Raw integer media row id."
              },
              "video_id": {
                "type": "string",
                "description": "YouTube video id (11 characters)."
              },
              "title": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Video title. Null when the video was indexed without metadata."
              },
              "url": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Video URL. Null when unknown."
              },
              "published_at": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Video publish timestamp. Null when unknown."
              },
              "channel_id": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "YouTube channel id of the source channel. Null when unknown."
              },
              "view_count": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Video view count at index time. Null when never fetched."
              },
              "source_channel": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Public entity id (\"ent_{n}\") of the source channel."
                  },
                  "name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Source channel name."
                  },
                  "url": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Source channel URL. Null when unknown."
                  }
                },
                "required": [
                  "id",
                  "name",
                  "url"
                ],
                "description": "The channel entity that published the video. Null when the video has not been linked to a channel entity."
              }
            },
            "required": [
              "id",
              "video_id",
              "title",
              "url",
              "published_at",
              "channel_id",
              "view_count",
              "source_channel"
            ]
          },
          "start_timestamp": {
            "type": [
              "string",
              "null"
            ],
            "deprecated": true,
            "description": "DEPRECATED: prefer the numeric sibling field. This \"MM:SS\" (or \"HH:MM:SS\") string remains until a dated, changelog-announced removal (see /requests#versioning-and-deprecation). Use start_seconds. Null when the analyzer could not locate the mention in time."
          },
          "end_timestamp": {
            "type": [
              "string",
              "null"
            ],
            "deprecated": true,
            "description": "DEPRECATED: prefer the numeric sibling field. This \"MM:SS\" (or \"HH:MM:SS\") string remains until a dated, changelog-announced removal (see /requests#versioning-and-deprecation). Use end_seconds. Null when unknown."
          },
          "start_seconds": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Start position in the video in integer SECONDS, parsed from start_timestamp. Prefer this over the deprecated string field. 0 means \"full episode / no specific moment\" (the string sentinel \"00:00\"). Null when the string timestamp is null or unparseable."
          },
          "end_seconds": {
            "type": [
              "integer",
              "null"
            ],
            "description": "End position in the video in integer SECONDS, parsed from end_timestamp. 0 means \"full episode / no specific moment\" (the string sentinel \"00:00\"). Null when the string timestamp is null or unparseable."
          },
          "is_appearance": {
            "type": "boolean",
            "description": "True when the person physically appears/speaks in the media (person entities only). Always false for organization, product, topic, and channel entities. Filtering with is_appearance=true on a non-person entity returns a 400 (appearances_person_only)."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "One-sentence description of the mention context. Null when not generated."
          },
          "confidence": {
            "type": [
              "number",
              "null"
            ],
            "description": "Analyzer confidence between 0 and 1. Null for legacy rows analyzed before confidence scoring."
          },
          "sentiment_score": {
            "type": [
              "number",
              "null"
            ],
            "description": "Raw sentiment score between -1 and 1. Null when sentiment was not computed for this mention."
          },
          "sentiment": {
            "type": "string",
            "enum": [
              "positive",
              "neutral",
              "negative"
            ],
            "description": "Derived sentiment label from sentiment_score. Values: positive (score above 0.2), negative (score below -0.2), neutral (score between -0.2 and 0.2 inclusive, or no score computed)."
          },
          "referenced_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL referenced in the mention. Null unless one was extracted."
          },
          "referenced_platform": {
            "type": [
              "string",
              "null"
            ],
            "description": "Platform referenced in the mention, e.g. \"twitter\". Null unless one was extracted."
          },
          "extracted_content": {
            "type": [
              "string",
              "null"
            ],
            "description": "Verbatim content extracted for the mention. Null unless extraction ran."
          },
          "recommendations": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RecommendationEnrichmentItem"
                },
                "description": "Commercial mentions (ad reads, endorsements) for the same entity in the same video."
              }
            },
            "required": [
              "items"
            ],
            "description": "Only present when the request used details=full (requires a Pro+ plan)."
          }
        },
        "required": [
          "id",
          "appearance_id",
          "entity",
          "media",
          "start_timestamp",
          "end_timestamp",
          "start_seconds",
          "end_seconds",
          "is_appearance",
          "description",
          "confidence",
          "sentiment_score",
          "sentiment",
          "referenced_url",
          "referenced_platform",
          "extracted_content"
        ]
      },
      "EntityRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Public entity id in the form \"ent_{n}\"."
          },
          "name": {
            "type": "string",
            "description": "Canonical entity name."
          },
          "type": {
            "type": "string",
            "description": "Entity type. Values: person (an individual), organization (a company or institution; legacy rows may read company or brand), product (a product or service), topic (a subject or theme), channel (a media source such as a YouTube channel), unknown (type was never classified)."
          },
          "slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL slug, the site's canonical id for every type but channel. Null when never slugged."
          },
          "page": {
            "type": [
              "string",
              "null"
            ],
            "description": "The entity's page on arcmira.com, absolute. Link the name to it when you write the entity into an answer. Null for a type the site has no page for."
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "slug",
          "page"
        ]
      },
      "RecommendationEnrichmentItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Public recommendation id in the form \"com_{n}\"."
          },
          "mention_class": {
            "type": "string",
            "description": "Commercial mention classification. Values: ad_read (an ad-style promotion heard at that moment: a paid sponsor read, promo code, affiliate plug, thanks for supplied goods or venue, or a show promoting its own product as an ad), endorsement (an unpaid personal recommendation), mention (a neutral commercial mention)."
          },
          "verbatim_quote": {
            "type": [
              "string",
              "null"
            ],
            "description": "Verbatim quote from the transcript. Null when no quote was extracted."
          },
          "promo_code": {
            "type": [
              "string",
              "null"
            ],
            "description": "Promo code read out in the mention. Null unless one was detected."
          },
          "offer": {
            "type": [
              "string",
              "null"
            ],
            "description": "Offer text, e.g. \"20% off\". Null unless one was detected."
          },
          "confidence": {
            "type": "number",
            "description": "Classifier confidence between 0 and 1."
          },
          "start_timestamp": {
            "type": "string",
            "deprecated": true,
            "description": "DEPRECATED: prefer the numeric sibling field. This \"MM:SS\" (or \"HH:MM:SS\") string remains until a dated, changelog-announced removal (see /requests#versioning-and-deprecation). Use start_seconds."
          },
          "end_timestamp": {
            "type": "string",
            "deprecated": true,
            "description": "DEPRECATED: prefer the numeric sibling field. This \"MM:SS\" (or \"HH:MM:SS\") string remains until a dated, changelog-announced removal (see /requests#versioning-and-deprecation). Use end_seconds."
          },
          "start_seconds": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Start position in the video in integer SECONDS, parsed from start_timestamp. 0 means \"full episode / no specific moment\" (the string sentinel \"00:00\"). Null when the string timestamp is null or unparseable."
          },
          "end_seconds": {
            "type": [
              "integer",
              "null"
            ],
            "description": "End position in the video in integer SECONDS, parsed from end_timestamp. 0 means \"full episode / no specific moment\" (the string sentinel \"00:00\"). Null when the string timestamp is null or unparseable."
          }
        },
        "required": [
          "id",
          "mention_class",
          "verbatim_quote",
          "promo_code",
          "offer",
          "confidence",
          "start_timestamp",
          "end_timestamp",
          "start_seconds",
          "end_seconds"
        ]
      },
      "RecommendationListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recommendation"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True when more rows exist past this page."
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor for the next page. Null on the last page."
          },
          "entity": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Entity"
              },
              {
                "description": "The resolved entity the recommendations belong to."
              }
            ]
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor",
          "entity"
        ]
      },
      "Recommendation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Public recommendation id in the form \"com_{n}\"."
          },
          "recommendation_id": {
            "type": "integer",
            "description": "Raw integer id of the recommendation row. Same number as in the \"com_{n}\" public id."
          },
          "mention_class": {
            "type": "string",
            "description": "Commercial mention classification. Values: ad_read (an ad-style promotion heard at that moment: a paid sponsor read, promo code, affiliate plug, thanks for supplied goods or venue, or a show promoting its own product as an ad), endorsement (an unpaid personal recommendation), mention (a neutral commercial mention)."
          },
          "entity": {
            "$ref": "#/components/schemas/EntityRef"
          },
          "media": {
            "type": "object",
            "properties": {
              "video_id": {
                "type": "string",
                "description": "YouTube video id (11 characters)."
              },
              "title": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Video title."
              },
              "published_at": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Video publish timestamp."
              },
              "channel_id": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "YouTube channel id of the source channel."
              },
              "source_channel": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Public entity id (\"ent_{n}\") of the source channel."
                  },
                  "name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Source channel name."
                  }
                },
                "required": [
                  "id",
                  "name"
                ],
                "description": "The channel entity that published the video. Null when the video has not been linked to a channel entity."
              }
            },
            "required": [
              "video_id",
              "title",
              "published_at",
              "channel_id",
              "source_channel"
            ]
          },
          "start_timestamp": {
            "type": "string",
            "deprecated": true,
            "description": "DEPRECATED: prefer the numeric sibling field. This \"MM:SS\" (or \"HH:MM:SS\") string remains until a dated, changelog-announced removal (see /requests#versioning-and-deprecation). Use start_seconds."
          },
          "end_timestamp": {
            "type": "string",
            "deprecated": true,
            "description": "DEPRECATED: prefer the numeric sibling field. This \"MM:SS\" (or \"HH:MM:SS\") string remains until a dated, changelog-announced removal (see /requests#versioning-and-deprecation). Use end_seconds."
          },
          "start_seconds": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Start position in the video in integer SECONDS, parsed from start_timestamp. Prefer this over the deprecated string field. 0 means \"full episode / no specific moment\" (the string sentinel \"00:00\"). Null when the string timestamp is null or unparseable."
          },
          "end_seconds": {
            "type": [
              "integer",
              "null"
            ],
            "description": "End position in the video in integer SECONDS, parsed from end_timestamp. 0 means \"full episode / no specific moment\" (the string sentinel \"00:00\"). Null when the string timestamp is null or unparseable."
          },
          "verbatim_quote": {
            "type": [
              "string",
              "null"
            ],
            "description": "Verbatim quote from the transcript. Null when no quote was extracted."
          },
          "promo_code": {
            "type": [
              "string",
              "null"
            ],
            "description": "Promo code read out in the mention. Null unless one was detected."
          },
          "offer": {
            "type": [
              "string",
              "null"
            ],
            "description": "Offer text, e.g. \"20% off your first order\". Null unless one was detected."
          },
          "sentiment": {
            "type": [
              "number",
              "null"
            ],
            "deprecated": true,
            "description": "DEPRECATED: use sentiment_score, which carries the same number. Removal will be announced in the changelog. Raw NUMERIC sentiment score between -1 and 1. Null when not computed."
          },
          "sentiment_score": {
            "type": [
              "number",
              "null"
            ],
            "description": "Raw sentiment score between -1 and 1, same semantics as sentiment_score on mention rows. Null when not computed."
          },
          "confidence": {
            "type": "number",
            "description": "Classifier confidence between 0 and 1. Rows below the min_confidence filter (default 0.7) are excluded from list responses."
          },
          "speaker_role": {
            "type": "string",
            "description": "Role of the speaker delivering the mention, e.g. \"host\" or \"guest\"."
          },
          "conflict_status": {
            "type": [
              "string",
              "null"
            ],
            "description": "Set when community feedback disputes the classification (e.g. \"disputed\"). Null when undisputed. Disputed rows are excluded unless include_disputed=true."
          },
          "resolution": {
            "type": [
              "string",
              "null"
            ],
            "description": "How a disputed classification was resolved. Null until a dispute has been resolved."
          }
        },
        "required": [
          "id",
          "recommendation_id",
          "mention_class",
          "entity",
          "media",
          "start_timestamp",
          "end_timestamp",
          "start_seconds",
          "end_seconds",
          "verbatim_quote",
          "promo_code",
          "offer",
          "sentiment",
          "sentiment_score",
          "confidence",
          "speaker_role",
          "conflict_status",
          "resolution"
        ]
      },
      "FeedbackResponse": {
        "type": "object",
        "properties": {
          "feedback_id": {
            "type": "integer",
            "description": "Id of the persisted feedback record. Read it back via GET /v1/feedback/{feedback_id}."
          },
          "type": {
            "type": "string",
            "description": "The feedback type you submitted. Values: recommendations, channel_sponsors, mentions, entities_search, entities, channels, monitor_alert, appearances, search."
          },
          "query": {
            "type": "object",
            "additionalProperties": {},
            "description": "The query object the feedback is attached to, echoed back."
          },
          "applied": {
            "type": "integer",
            "description": "Count of corrections applied automatically. CURRENTLY always 0: public submissions are logged for review, never auto-applied."
          },
          "unchanged": {
            "type": "integer",
            "description": "Count of corrections whose target already had the requested value. Currently always 0 for public submissions."
          },
          "failed": {
            "type": "integer",
            "description": "Count of corrections that could not be processed. Currently always 0 for public submissions."
          },
          "logged": {
            "type": "integer",
            "description": "Count of corrections recorded for human review."
          },
          "corrections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeedbackCorrectionResult"
            },
            "description": "Per-correction outcomes, in submission order."
          }
        },
        "required": [
          "feedback_id",
          "type",
          "query",
          "applied",
          "unchanged",
          "failed",
          "logged",
          "corrections"
        ]
      },
      "FeedbackCorrectionResult": {
        "type": "object",
        "properties": {
          "item_id": {
            "type": "string",
            "description": "The correction target id you supplied (or a generated placeholder when omitted)."
          },
          "item_kind": {
            "type": "string",
            "description": "Inferred kind of the target. Values include: recommendation, sponsor_entity, entity, entity_merge, mention, appearance, alert, alert_expectation, unknown."
          },
          "status": {
            "type": "string",
            "enum": [
              "applied",
              "unchanged",
[...]
